# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.github/*

# Outputs generados por el pipeline
*.parquet
*.sqlite
app/Visualize/charts/*.png
app/Output/*
clean_data/
db/
financial_summary.csv
anomalies_report.csv

# Documentación interna
docs/

# Spark
spark-warehouse/
metastore_db/
derby.log

# Logs
*.log
logs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/
*.cover

# OS
.DS_Store
Thumbs.db

# Claude
.claude/